body {
	font: normal normal 20px/32px 'Roboto', Helvetica, Arial, sans-serif;
	color: #333333;
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 64em){
	body {
	    font-size: 26px;
	    line-height: 40px;
	}
}
a {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}


.container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1000px;
}

#hd	{
    width: 100%;
    padding: 0;
    background: #fff url(../images/header-bg.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 3000;
}

@media only screen and (min-width: 64em){
	#hd	{
		position: fixed;
		top: 0;
	}
}
#hd .container {
    width: 100% !important;
    max-width: none;
}

@media only screen and (min-width: 64em){
	#hd .container {
    	max-width: 1000px;
	}
}

#hd .logo img{
	max-width: 161px;

}

#hd .phone{
	display: block;
	position: absolute;
	top: 5%;
	right: 5%;
	text-decoration: none;
	color: #333;
}
#hd .phone:hover{
	color: #446286;
}


#slideshow{
    position: relative;
}
@media only screen and (min-width: 64em){
	#slideshow{
	    margin-top: 89px;
	}
}
#slideshow:before {
    content: '';
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
#slideshow img {
	width: 100%;
	vertical-align: top;
	position: relative;
	z-index: 100;
}
#slideshow .ss_overlay {
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 400;
	color: #fff;
	text-shadow: 0 0 15px #000;
	text-align: center;
}

@media only screen and (min-width: 64em){
	#slideshow .ss_overlay {
		text-align: left;
		max-width: 1000px;
		margin: auto;
		right: 0;
	}
}

#slideshow .ss_overlay .trait {
	font-family: 'Architects Daughter', cursive;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: .25em;
}
#slideshow .ss_overlay .main{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1;
}

#slideshow .ss_overlay .sub-text:before {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
	left: 0;
	right: 0;
	width: 80px;
	background: #ffffff;
}

@media only screen and (min-width: 64em){
	#slideshow .ss_overlay .main{
		font-size: 3em;
	}
	#slideshow .ss_overlay .sub-text{
		margin-bottom: 1.8em;
	}
	#slideshow .ss_overlay .sub-text:before {
		right: auto;
	}
}

#slideshow .ss_overlay .ss_button {
  background: #446286;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 25px;
  text-align: center;
  font-size: 0.5em;
  display: inline-block;
  transition-duration: 0.5s;
}


#slideshow .ss_overlay .ss_button:hover {
  background: #2e3d4d;
}

#main{
    background: #fff url(../images/woodgrain-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 60px 0;
}


#main .container{
    margin: 0 auto 1.8em;
    width: auto;
    max-width: 1000px;
}


#main .container .tagline{
	text-align: center;
	text-transform: uppercase;
	font-size: .8em;
}
#main .container .title{
	text-align: center;
	font-weight:400;
	font-size: 1.2em;
	margin-bottom: 1.8em;
}
#main .container .title:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -.5em; 
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 25px;
	background: #222427;
}
 


@media only screen and (min-width: 64em){
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.row > .col {
		border: 0px solid rgba(0, 0, 0, 0);
		display: block;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-moz-background-clip: padding-box !important;
		-webkit-background-clip: padding-box !important;
		background-clip: padding-box !important;
		margin-left: 5%;
	}
	.row > .col:first-child {
		margin-left: 0%;
	} 
	.row > .col.span3 {
		width: 21.25%;
	}
}



.callouts a{
 	display: block;
    margin: 0 auto 1.8em;
 }
.callouts .wrapper{
	position: relative;
	max-width: 330px;
	margin: auto;
}
.callouts .decor{
    display: block;
    margin: auto;
}

.callouts .title{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 500;
}
.callouts .wrapper:before{
    content: '';
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 80px;
    bottom: 80px;
    left: 65px;
    right: 65px;
    z-index: 200;
	border-radius: 50%;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.callouts a:hover .wrapper:before{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	border-radius: 0;
}
.callouts .title:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -2px; 
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 25px;
	background: #fff;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.callouts a:hover .title:after {
	width: 100px;
}




#ft {
	font-size: 20px;
	line-height: 28px;
	color: #fff;
	background: #222427;
	padding: 30px 10px;
	margin:0 ;
}

#ft .address{
	display: inline-block;
	width: 50%;
}
#ft .contact-info{
	display: inline-block;
	width: 50%;
	text-align: right;
    vertical-align: top;
}

#ft .contact-info a{
	display: block;
	color: #ffffff;
}

#ft .contact-info a:hover{
	color: #436188;
}

#ft .social a{
	display: inline-block;
}
#ft .social a img{
	 -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#ft .social a:hover img{
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 20;
}
#ft .legal {
	margin-top: 1.2em;
	font-size: .75em;
	line-height: 1;
	color: #979693
}
#ft .legal a{
	color: #436188;
}

#ft .legal a:hover{
	color: #ffffff;
}